@charset "UTF-8";

body {
	background-color: #F6F4F3;
	background-repeat: no-repeat, repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 40px;
}

a {
	color: blue;
}

.smol {
	width: 30%;
}

h1, h2, h3 {
	border-style: solid;
	border-color: black;
	border-radius: 8px;
	border-width: medium;
	background-color: #276FBF;
	text-align: center;
	clear: both;
	background-color: #276FBF;
}

h1 {
	color: #183059;
}

h2 {
	color: #F6F4F3;
}

p {
	color: #183059;
	font-size: 1.25em;
}

img {
	width: 50%;
	height: auto;
	display: block;
	border-style: solid;
	border-color: black;
	border-radius: 16px;
	padding: 0px;
	margin: 8px;
	float: left;
}

#pdf {
	width: 400px;
	height: 400px;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

#me {
	width: 30%;
	height: auto;
	display: block;
	margin-bottom: 2%;
	margin-right: 10%;
	margin-left: 10%;
}

#robot {
	width: 30%;
	height: auto;
	float: left;
	margin-right: 1%;
	display: block;
}

#me2 {
	width: 20%;
	height: auto;
	display: block;
	margin-bottom: 2%;
	margin-right: 5%;
	margin-left: 10%;
}

p {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 10%;
	margin-left: 10%;
}

#stem2 {
	width: 30%;
	height:auto;
	display: block;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#navbar {
	text-align: justify;
	border-style: solid;
	border-color: #F6F4F3;
	border-radius: 0px;
	border-style: solid;
}

#navbar:after {
	text-align: justify;
	content: '';
	display: inline-block;
	width: 100%;
}

#navbar ul {
	text-align: justify;
	background-color: #F6F4F3;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	width: 99%;
	justify-content: space-between;
	display: flex;
}

#navbar li {
	text-align: justify;
	float: left;
}

#navbar li a {
	text-align: justify;
	display: block;
	padding: 8px;
	font-size: 1.5em;
	text-decoration: none;
}

#STEMlist ul {
	list-style-type: circle;
}